@import 'assets/scss/styles/_mixin.scss';

.title {
  @include font(700, 36px, 38px);
  text-align: center;
}

.table {
  width: 750px;
  margin: 0 auto;
  background-color: var(--table-bg-cl);
}

.tableHead {
  height: 30px;
  background-color: var(--cartTable-main-cl);
}
.category {
  height: 30px;
}

.tableBody {
  background-color: var(--cartTable-second-cl);
}

.product {
  height: 25px;

  td:nth-child(-n + 2) {
    padding-left: 10px;
  }

  td:nth-last-child(-n + 3) {
    text-align: center;
  }
}

.tableFoot {
  composes: tableHead;
  td:nth-child(1),
  td:nth-last-child(1) {
    text-align: center;
  }
}

.removeProduct,
.addProduct {
  cursor: pointer;
}
