@import 'assets/scss/styles/_mixin.scss';

.title {
  margin: 20px;
  @include font(700, 36px, 38px);
  text-align: center;
}

.table {
  background-color: var(--table-bg-cl);
  margin: 0 auto;
  width: 800px;
}

.columns {
  background-color: var(--prodTable-main-cl);
}

.products {
  background-color: var(--prodTable-second-cl);
}

.price,
.select,
.category,
.addProduct,
.removeProduct {
  cursor: pointer;
}

.category {
  height: 30px;
  
}

.categoryName{
    padding: 5px;
  &:not(:last-child){
    border-bottom: 1px solid var(--border-cl);
  }
  
    &:hover{
    background-color: var(--main-bg-cl);

  }
}
.iconVectorDown {
  width: 10px;
  height: 10px;
  transform: rotateZ(90deg);
}
.iconVectorUp {
  composes: iconVectorDown;
  transform: rotateZ(-90deg);
}


.price {
  svg {
    margin-left: 5px;
  }
}



.product {
  height: 25px;
  td:nth-child(-n + 2) {
    padding-left: 10px;
  }
  td:nth-last-child(-n + 2) {
    text-align: center;
  }
}

.selectors {
  position: absolute;
  background-color: var(--selectList-bg-cl);
  text-align: left;
  border: 1px solid var(--border-cl);
}
