@import 'assets/scss/styles/_mixin.scss';

.productsTable{
  
  // background-color: red;
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  // text-align: center;
  
}

.title {
  margin: 20px;
  @include font(700, 36px, 38px);

}

.table{
  background-color: #000;
  margin: 0 auto;
}

.columns{
  background-color: #76A1CD;
}

.products{
  background-color: #74B3C2;
}

.price,
.select,
.category,
.addProduct,
.removeProduct {
  cursor: pointer;
}

.category{
  height: 30px;
  width: 350px;
}
.iconVectorDown{
  width: 10px;
  height: 10px;
  transform: rotateZ(90deg);
}
.iconVectorUp{
  composes: iconVectorDown;
  transform: rotateZ(-90deg);
}

.name{
  width: 170px;
}

.price{
  width: 70px;
  svg{
    margin-left: 5px;
  }
}

.action{
  width: 100px;
}

.product{
  height: 25px;
  td:nth-child(-n+2){
    padding-left: 10px;
  }
  td:nth-last-child(-n+2) {
    text-align: center;
  }
}

.selectors {
  position: absolute;
  background-color: gainsboro;
  text-align: left;
}
