:root {
  --main-bg-cl: grey;
  --table-bg-cl: #000;
  --border-cl: #000;
  --cartTable-main-cl: #90c274;
  --cartTable-second-cl: #afda96;
  --prodTable-main-cl: #76a1cd;
  --prodTable-second-cl: #74b3c2;
  --selectList-bg-cl: #76a1cd;
  --countInCart-cl: #f1fa66;
}
